.preview-map {
    width: 600px; 
    height: 450px !important; /* override MDL */
    float:left;
    margin-left: 20px; /* Can be hard to scroll down page otherwise */
    background: #444;
    animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.feature-info {
    padding:1em;
    width: 100px;
    min-height:50px;
    float:left;
}

.mdl-demo .mdl-card .mdl-card__supporting-text {
    margin-bottom: 0.5em;
}

.feature-info table {
    /*width: 100%;*/
}

.standardlink {
    margin-left:2em;
    margin-bottom:1em;
}

.prop-key {
    font-family: 'Courier New';
    background: hsl(240,50%,95%);
    margin:6px;
    color:black;
    min-width: 100px;
}

/*
.prop-key-recommended {
    background: hsl(300, 50%, 85%);
}
.prop-key-optional {
    background: hsl(270, 50%, 85%);
}
.prop-key-required {
    background: hsl(330, 50%, 85%);
    font-weight: bold;
}
*/

.prop-key-non-standard {
    background: #eee;
    font-style:italic;
    font-size:80%;
}
.prop-value {
    margin-right:12px;
    font-size: 11px;
    min-width: 200px;
    /*max-width: 120px;*/
}

.prop-value-missing {
    background:hsl(10, 80%,80%);
}

.featureInfo__propLevelHeading {
    font-size:14px;
    margin: 10px 0;
    line-height:initial;
    width: 100%;
    min-width: 200px; /* What's going on here? Why isn't it using the full space? */
}

.featureInfo__propLevelHeading_Non-standard {
    margin-top: 3em;
    margin-bottom:0;
    color: #888;
    font-size: 80%;
}


.feature-count {
    padding:1em;
    width: 100%;
    height: 450px;
    background:hsl(220,50%,90%);
    overflow: scroll;
}

.featureInfo__sourceCouncilId {
    font-size: 14px;
    font-weight: bold;
}

.featureInfo__sourceUrl {
    font-family: 'Courier New';
    font-size: 10px;
    color: #555;
}

.feature-count table {
    max-height: 400px;
    overflow-y: scroll;
    background:white;
}
.feature-count td {
    font-size:10px;
} 